html, body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    background-color: #4d83ce;
    margin: 0;
}

.flex-container {
    display: flex;
    flex: 1 0 auto;
    justify-content: space-around;
}

main {
    flex: 1 1 auto;
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
}

.bg-warning {
    padding: 10px;
    border-radius: 16px;
    font-size: larger;
}

.btn {
    margin: 20px;
    font-size: larger;
    border-radius: 10px;
}

#search {
    padding: 10px;
    border-radius: 16px;
    height: auto;
    background-color: whitesmoke;
    font-size: larger;
}

ul {
    list-style-type: none;
    font-size: larger;
}

li {

    background-color: whitesmoke;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}