html, body {
    height: 100%;
}

body {
    background-color: #4d83ce;
    margin: 0;
    display: flex;
    flex-direction: row;
}

main {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    font-size: 2em;
}

.bg-warning {
    padding: 10px;
    border-radius: 16px;
    font-size: larger;
}

.btn {
    margin: 20px;
    font-size: larger;
    border-radius: 10px;
}

#search {
    padding: 10px;
    border-radius: 16px;
    height: auto;
    background-color: whitesmoke;
    font-size: larger;
}


ul {
    list-style-type: none;
    font-size: larger;
}

li {
    background-color: whitesmoke;
    margin:20px 300px;
    padding: 10px;
    border-radius: 16px;
}