html, body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    background-color: #4d83ce;
    margin: 0;
}

main {
    flex: 1 1 auto;
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
}

ul {
    list-style-type: none;
    font-size: larger;
}

.input-group {
    border-radius: 16px;
}

#buttons {
    display: flex;
    justify-content: space-around;
}